


body{
    box-sizing: border-box;
    /* background-color: white; */
    font-family: 'Sofia Sans Condensed', sans-serif;
    src: url(https://fonts.google.com/specimen/sofia+sans+condensed); 
    overflow-x: hidden;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 0.5px solid rgb(227, 227, 227);
    backdrop-filter: blur(6px);
}
.hed{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    flex-wrap: wrap;
}
 #myname{
    
    display: block;
    text-align: center;
    margin: 200px 0px 0px 0px;
    font-size: 5rem;
    font-weight: bold;

}
#frontend{
    position: relative;;
    text-align: center;
    padding: 0px;
    margin: 50px;
    bottom: 40px;
    font-size: 2em;
}

#story{
    width: 30%;
    display: block;
    float: right;
    border: 0.5px solid;
    border-radius: 5px;
    padding: 15px 20px;
    margin-right: 50px;
    margin-top: 5vh ;
    
}
#skill{
    clear: right;
    display: block;
    margin-top: 50em;
    width: 50%;
    padding-top: 30px;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;

}
.myskil{
    margin-top: 5em;
}
#lancer{
    display: block;
    margin-top: 200px;
    margin-left: 100px;
    font-size: 25px;
    font-weight: bold;
}
.links{
    float: right;
    display: flex;
    gap : 50px;
    text-decoration: none;
    top: 35px;
    padding-top: 10px;
    padding-right:  40px  ;
    padding-bottom: 10px;
    color: #000000;
    transition: all 0.35s ease-in-out;
    
  }
  .forham--open .bar:nth-child(1){
    transform: translateY(10px) rotate(45deg) !important;
  }
  .forham--open .bar:nth-child(2){
    opacity: 0 !important;
  }
  .forham--open .bar:nth-child(3){
    transform: translateY(-10px) rotate(-45deg) !important;
  }
  .forlink--open{
    transform: translate(0) !important;
    
  }
  .forlink{
    text-decoration: none;
    color: rgb(0, 0, 0, 0.65);
    font-size: 20px;
    transition: color 0.4s;
  }
  .forlink:hover, .forlink:focus{
    color: rgb(0, 0, 0, 1);
  }
  #sitter{
    color: black;
  }
  .logo{
   padding: 5px 10px;
    margin-left: 2px;
    
  }
.keeper{
  
    margin-top: 10px;
    margin-left: 50px;
   text-align: center;

}
.hambar{
   display: none;
}
.scrnshot{
   position: relative;
   bottom: 130px;
   
    /* left: 330px; */

}

 .flay{
    position: relative;
 }



.frame2{
    display: block;
    position: relative;
    bottom: 200px;
   
}


#cat{
    
     left: 330px;
    bottom: 580px; 
}
#cat1{
    
     left: 440px;
   bottom: 650px; 
}
#cat2{
    
     left: 160px;
    bottom: 400px;
    z-index: 0; 
} 

.rbtn{
    text-align: center;

 }

.rbtn :hover{
    background-color: black;
    width: 145px;
    height: 36px;
}

#contbtn{
     justify-content: center;
    border: 1px solid;
    color: white;
    border-color:rgb(44, 43, 42) ;
    background-color: rgb(15, 15, 15) ;
    border-radius: 3px;
    padding: 10px 15px;
    width: 140px;
    height: 35px;
    transition: all 0.3s ease-in-out;
    
}


.btnn{
    justify-content: center;
    border: 1px solid;
    color: white;
    border-color:rgb(44, 43, 42) ;
    background-color: rgb(15, 15, 15) ;
    border-radius: 3px;
    padding: 10px 15px;
    width: 140px;
    height: 35px;
    transition: all 0.3s ease-in-out;
    
}
.btn{
    margin-left: 100px;
    border: 1px solid;
    color: white;
    border-color:rgb(44, 43, 42) ;
    background-color: rgb(44, 43, 42) ;
    width: 20%;
    padding: 10px 15px;
    border-radius: 7px;
     
  }

  #bit :hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0) ;
  }
  #sim1{
    margin-top: 100px;
    width: 250px;
    height: 500px;
    border: 7px solid;
    border-top: 25px solid;
    border-bottom: 20px solid;
    border-radius: 8px;

    
  }
  #sim2{
    position: relative;
    width: 100px;
    height: 3px;
    bottom: 535px;
    left: 75px;
    border: 1px rgb(206, 15, 15);
    background-color: silver;
  
  }
  #sin1{
    width: 650px;
    height: 350px;
    border: 7px solid;
    border-top: 25px solid;
    border-bottom: 20px solid;
    border-radius: 8px;
    margin-right: 50px;
   float: right;
    
  } 
  /* #sin2{
    position: relative;
    width: 100px;
    height: 5px;
    bottom: 635px;
    left: 100px;
    border: 1px rgb(206, 15, 15);
    background-color: silver;
  
  } */

  .strip{
    width: 0px;
    height: 1px;
    bottom: 400px;
  }
.skillist{
    margin: 0;
    padding-inline: 0;
    list-style: none;
}

.skillist li {
 text-align: center;
 padding: 1rem;
 background-color: #000e18 ;
 border-radius: 0.5rem;
 box-shadow: 0 0.5rem 1rem --0.25rem black;
 color: white;
}

 .scroller{
    width: 600px;
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg,transparent, white 20%,  white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    border: 5px solid;
    border-left: 0;
    border-right: 0;

}

.inner_scroller{
    width: max-content;
    display: flex;
    gap: 0.5rem;
    flex-basis: 50px;

  padding-block: 2rem;
    flex-wrap: nowrap;
    animation: scroll 20s linear infinite;

}
@keyframes scroll{
    to{
        transform: translate(calc(-50% - 0.25rem));
    }
}
.test{
    background-color: red !important;
}
#js{
    background-color: #315837 ;
}
#dv{
    background-color: #000000 ;
}
#pt{
    background-color: #2e1903 ;
}
#pt{
    background-color: #3f2797 ;
}

#ux{
    background-color: #d24fe9 ;
}
#cs{
    background-color: #CD5C08 ;
} 
.txt-span{
    float: right;
    margin-right: 60px;
    border-left: 1px solid;
}
#proj{
    text-align: center;

    padding-left: 20px;
}
.descript{
    
    text-align: center;
    width: 600px;
}

 .casing{
    height: 5em;
} 
 .phoneshot{
   position: relative;
  top: 90px;
  right: 30px;
} 
 .frame{
    margin-left: 100px;
    margin-top: 50px;
}
.simmer{
    clear: both;
    position: relative;
} 
#home{
 position: relative;
    left: 920px;
     bottom: 40px; 
}  
#reg{
    position: relative;
    left: 140px;
    bottom: 110px
}
#log{
    position: relative;
    left: 280px;   
    bottom: 130px;
    z-index: 0;
} 
 .lamp{
    clear: right;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    }
    .shared{
        width: 30%;
        /* background-color: #000000; */
         padding: 30px 0px 0px 5px
    } 

    #a:hover{
        /* background-color: #532181; */
       border: 1px solid;
        border-radius: 5px;
    }
    #b:hover{
        background-color: rgba(255, 255, 255, 0.108);
        border: 1px solid;
        border-radius: 5px;
    }
    #c:hover{
      
        border: 1px solid;
        border-radius: 5px; 
    }
    #errand{
        text-align: center;
    }
    #rescript{
        padding: 10px 15px 10px 30px;
    }
    footer{
        margin-top: 100px;
    }
    .footdiv{
        display: flex;
        justify-content: center;

    }

@media (max-width : 650px){
    .links{
        position: fixed;
        top: 50px;
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.6);
        border-bottom: 0.5px solid rgb(227, 227, 227);
        backdrop-filter: blur(6px);
        width: 100%;
        transform: translateX(-100%);



    }
    .forlink{
       font-size: 14px;
    }

    .hambar{
        display: block;
    }
    .bar{
        
        height: 3px;
        width: 30px;
        background: black;
        margin: 5px 0px;
        margin-right: 30px;
       cursor: pointer;

    }



    .footdiv{
        display: flex;
    }
.txt-span{
    float: none;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    border-left: 0;
   
}
#story{
    display: block;
    float: right;
    margin-right: 50px;
    margin-bottom: 80px;
}
.myskil{
    clear: both;
    display: block;
    text-align: center;
}
#lancer{
    text-align: center;
    margin-top: 80px;
    position: static;
}
#closure{
    text-align: center;
}
.descript{
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 400px;
    position: static;
    display: block;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    border-left: 1px solid;
    border-right: 1px solid;
}
.scroller{
    width: 100%;
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg,transparent, white 20%,  white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    border: 5px solid;
    border-left: 0;
    border-right: 0;

}

.inner_scroller{
    width: max-content;
    display: flex;
    gap: 0.5rem;
    flex-basis: 50px;
    
  padding-block: 2rem;
    flex-wrap: nowrap;
    animation: scroll 20s linear infinite;

}
@keyframes scroll{
    to{
        transform: translate(calc(-50% - 0.25rem));
    }
}
.test{
    background-color: red !important;
}
#js{
    background-color: #315837 ;
}
#dv{
    background-color: #000000 ;
}
#pt{
    background-color: #2e1903 ;
}
#pt{
    background-color: #3f2797 ;
}

#ux{
    background-color: #d24fe9 ;
}
#cs{
    background-color: #CD5C08 ;
}
.frame{
    position: relative;
    /* margin-top: 150px; */
    padding-left: 20px;
}
.phoneshot{
    position: relative;
    display: block;
    bottom: 200px;
}
#sin1{
    width: 400px;
    height: 180px;
    border: 3px solid;
    border-top: 10px solid;
    border-bottom: 8px solid;
    border-radius: 8px;
    margin-right: 50px;
  float: none;
  position: relative;
    
  }





  .lamp{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .shared{
        width: 100%;
    }
    #sim1{
        margin-left: 10px;
        margin-top: 50px;
        width: 200px;
        height: 400px;
        border: 3px solid;
        border-top: 8px solid;
        border-bottom: 8px solid;
        border-radius: 6px;
    
        
      }
      #sim2{
        position: relative;
        width: 50px;
        height: 2px;
        bottom: 411px;
        left: 85px;
        border: 1px rgb(206, 15, 15);
        background-color: silver;
      
      }
      #cat{
    
        left: 70px;
       bottom: 100px; 
   }
   #cat1{
       
        left: 140px;
      bottom: 0px; 
   }
   #cat2{
       
        left: 200px;
       bottom: 130px;
       z-index: 0; 
   } 
   .flay{
    position: static
   }
   .scrnshot{
    position:static;
    bottom: 50px;
   }
   .play{
    position:static;
   }

   #home{
 position: static;
    margin-left: 20px;
     bottom: 20px; 
}  
#reg{
    position: static;
    left: 80px;
    bottom: 10px
}
#log{
    position: static;
    left: 0px;   
    bottom: 30px;
    z-index: 0;
} 
    
  .last{
    position: static;
    bottom: 220px;
  }  
  .hold{
    display: flex;
  }
}